.section-card {
    margin: 64px 0px;
}

.card {
    height: 384px;
    background-color: #4A6D7A;
}

.card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.card>img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}